{% extends "layout.html" %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=64) }}
    </p>

    <p>
        {{ form.author.label }}<br>
        {{ form.author(size=32) }}
    </p>

    <p>
        {{ form.body.label }}<br>
        {{ form.body(cols=70, rows=15) }}
    </p>

    {% if form.image_path.data %}
        <p>
            <img src="{{ form.image_path.data }}" width="250">
        </p>
    {% endif %}

    <p>
        {{ form.image_path.label }}<br>
        {{ form.image_path }}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
